@model proiect2.Models.alex.Event
    
@{ 
    ViewBag.Title = "Show";
}

@if (TempData["messageAdd"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["messageAdd"].ToString()</p>
}
@if (TempData["messageEdit"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["messageEdit"].ToString()</p>
}




<div class="event-header">
    <div class="header-title">
        @Model.Title
    </div>
    <cite>@Model.User.UserName</cite>
    <cite class="card-date card-date-header">@Model.Date</cite>

</div>

<div class="panel-body">
    @Model.Content
</div>